:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0d1117; /* Cor de fundo padrão para evitar flashes brancos */
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Remove decorações de link e botões padrão se necessário */
button {
  cursor: pointer;
}
